h1{
    color: red;
    font-size: 50px;
    text-shadow: 8px 8px 8px gray;
}

button{
    background-color: green;
    color: aliceblue;
    width: 180px;
    padding: 20px;
    margin-left: 400px;
    border-radius: 10px;
    align-self: center;
}
button:hover{
    background-color: blue;
    color: grey;
}
img{
    width: 200px;
    height: 250px;
}
div{
    justify-content: space-between;
    text-decoration: none;
    

}
div:hover{
    background-color: darkgoldenrod;
}