body{
    background-image: url("../images/image1.png");
    background-repeat: no-repeat;
    background-size: cover;
}


form{
    background-color: rgb(47, 255, 141);
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 12px gray;
    color: white;
    justify-content: center;
}
legend{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 15px black ;
}
input[type=text],input[type=email],input[type=password],input[type=date],input[type=datetime-local], input[type=tel],select{
    width: 90%;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
}
textarea{
    border-radius: 10px;
    border: none;
}
button[type=submit]{
  display: block;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: auto;
}